<div class="container">
	<h3>Datos personales</h3>
	</br>
	<h4>Nombre: </h4><h4><%= current_usuario.nombre%></h4>
	</br>
	<h4>Apellidos: </h4><h4><%= current_usuario.apellido%></h4>
	</br>
	<h4>eMail: </h4><h4><%= current_usuario.email%></h4>
	</br>
	<h4>Rol de usuario: </h4><h4><%= current_usuario.rol%></h4>
</div>