<div class="container">
	<h3>Información sobre mensajes</h3>
	</br>
	<%= button_to('Ver mis mensajes', mensajes_path, method: :get , class: "btn btn-default btn-lg")%>
	</br>
	<%= button_to('Enviar un nuevo mensaje', new_mensaje_path, method: :get , class: "btn btn-default btn-lg")%>
</div>