<div class="container">
	<h3>Información sobre mis propiedades</h3>
	</br>
	<%= button_to('Ver mis propiedaes', properties_path, method: :get , class: "btn btn-default btn-lg")%>
	</br>
	<%= button_to('Agregar propiedad', new_property_path, method: :get , class: "btn btn-default btn-lg")%>
</div>