<div class="container-fluid">
    <div class="row titulo">
      <div class="background-image toggle-image primera-im show"></div>
      <div class="background-image toggle-image segunda-im"></div>
      <div class="background-image toggle-image tercera-im"></div>
      <div class="background-image toggle-image cuarta-im"></div>
      <div class="background-image toggle-image quinta-im"></div>
      <div class="container-fluid tituloPad">
        <h1 class="encaG encaH1">
          Estudiante: puedes estar tranquilo.</br>
          Tu cuarto ideal está aquí
        </h1>
        <h4 class="encaG encaH4">Desliza a la derecha si te gusta uno; desliza a la izquierda si no.</br>
          Así de simple.</br>
          Comienza ya.</h4>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="input-group barraBusq">
              <input type="text" class="form-control" placeholder="Encuentra tu universidad">
              <span class="input-group-btn">
                <button class="btn btn-default lupaB" type="button"><i class="material-icons lupa">search</i></button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div>
        <div class="row">
          <div class="flecha col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a id="flechitaL" href="#queOhana">
              <i class="material-icons centro flechita center-block text-center">keyboard_arrow_down</i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="que" class="container-fluid tituloPad">
        <h2 id="queOhana" class="text-center">
          ¿Qué es OHANA?
        </h2>
        <div class="separator-container">
          <div class="separator-v"></div>
        </div>
        <p id="textoQueOhana">
          Con OHANA podrás encontrar un cuarto que se acomode </br>
          a tus necesidades y gustos como estudiante universitario.
        </p>
      </div>
    </div>
    <div class="row">
      <div id="como" class="container-fluid tituloPad">
        <h2 id="comoOhana" class="text-center">
          ¿Cómo funciona OHANA?
        </h2>
        <div class="separator-container">
          <div class="separator-b"></div>
        </div>
        <p id="textoComoOhana">
          Busca tu universidad; recibe recomendaciones de cuartos cercanos a ella. </br>
          Desliza hacia la derecha los que te gusten para guardarlos en tus favoritos;</br>
          si no te gusta el que estás viendo desliza hacia la izquierda.<br>
          Conforme sigas deslizando, te aparecerán nuevas opciones escogidas sólo para ti. </br>
          El anfitrión del cuarto será notificado y se podrán poner en contacto para agendar una cita de inmediato. </br>
          ¡Así de fácil!</br>
          ¿Estás listo para encontrar el lugar perfecto para ti?</br>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flecha">
              <a class="btn btn-default btn-lg btn-comienzo" href="#" role="button">Comenzar</a>
            </div>
          </div>
        </p>
      </div>
    </div>
</div>