<div class="container-fluid">
    <div class="row titulo">
      <div class="container-fluid tituloPad">
        <h1 class="encaG encaH1">
          Estudiante: puedes estar tranquilo.</br>
          Tu cuarto ideal está aquí
        </h1>
        <h4 class="encaG encaH4">Desliza a la derecha si te gusta uno; desliza a la izquierda si no.</br>
          Así de simple.</br>
          Comienza ya.</h4>
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group barraBusq">
              <input type="text" class="form-control" placeholder="Encuentra tu universidad">
              <span class="input-group-btn">
                <button class="btn btn-default lupaB" type="button"><i class="material-icons lupa">search</i></button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div>
        <div class="row"><div class="col-lg-offset-6 col-lg-6"><a href=#><i class="material-icons centro flechita center-block text-center">keyboard_arrow_down</i></a></div></div>
      </div>
    </div>
    <div class="row"></div>
</div>