<div class="container centradito">

<h3>Informaci칩n de reservaciones</h3>

<% @reservaciones.each do |res| %>
<div class="well">
  <p>Arrendador: <%= Usuario.find(Arrendador.find(res.id_arrendador).id).email %></p>
<p>Arrendatario: <%= Usuario.find(Arrendatario.find(res.id_arrendatario).id).email %></p>
  <p>Fecha de reservaci칩n: <%= res.created_at %></p>
  <%= link_to "M치s informaci칩n", reservacion_path(res), :class => 'btn btn-default' %>
</div>
<% end %>	
</div>