/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#flash_messages{
    color: transparent;
}

.flecha{
    display: inline-block;
    text-align: center;
}

.logoHead{
    width: 50%;
}

.menuOhana{
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .ulNav > li > a{
    background-color: transparent;
    color: #eee;
    font-size: 16px;
    font-weight: 300;
}

.navbar-default .ulNav > li > a:hover,
.navbar-default .ulNav > li > a:focus {
    border-bottom: 2px solid #B5EE72;
    color: #d5ff87;
}

.navbar-default .ulNav > .active > a {
    background-color: transparent;
    border-bottom: 2px solid #c7d500;
    color: #eee;
}

.navbar-default .ulNav > .active > a:hover,
.navbar-default .ulNav > .active > a:focus{
    background-color: transparent;
    border-bottom: 2px solid #c7d500;
    color: #e7febd;
}

.separator-container{
    text-align: center;
    position: relative;
}

.separator-v{
    margin: 2em auto 2em;
    width: 11em;
    border: 1px groove #c7d500;
}

.separator-b{
    margin: 2em auto 2em;
    width: 11em;
    border: 1px groove #333844;
}

@media (max-width: 767px) { 
    .enca{
        padding-top: 6.5em;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .enca{
        padding-top: 7em;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .enca{
        padding-top: 8.5em;
    }
}
@media (min-width: 1200px) {
    .barraBusq{
        padding-left: 7em;
    }

    .encaH4{
        padding-top: 0px;
        padding-bottom: 0.75em;
        padding-left: 5.65em;
        line-height: 27px;
    }

    .encaH1{
        padding-top: 7em;
        padding-left: 2.65em;
        padding-bottom: 0px;
        line-height: 43px;
    }

    .flechita{
        font-size: 60px;
        padding-top: 2em;
    }

    .logo{
        width: 377px;
    }

    .lupa{
        font-size: 20px;
    }

    .lupaB{
        padding-bottom: 2px;
    }

    .menuOhana{
        height: 4em;
    }

    .navbar-default .ulNav > li > a,
    .navbar-default .ulNav > .active > a{
        margin-left: 2em;
    }

    .ulNav{
        padding-top: 0.3em;
    }

    .centradito{
        padding-top: 80px
        


    }
}