// Place all the styles related to the LandingPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
  position: relative;
}

.btn-comienzo{
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 1em;
    font-size: 22px;
    width: 9em;
    color: #131f28;
    box-shadow: 3px 3px 4px 1px #131f28;
}





.centro{
    display: inline-block;
    text-align: center;
}

#como{
    padding: 4.375em 0;
    position: relative;
    z-index: 3;
    display: block;
    background-color: #1D8D6D;
}

#comoOhana {
    font-size: 2.65em;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.conBg{
    background-color: #131f28;
}

.encaG{
    color: #eee;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.flechita{
    font-size: 60px;
    color: #c7d500;
    padding-top: 2em;
}

button.lupaB{
    background-color: #9DAA0A;
    color: #eee;
    border-color: #9DAA0A;
}

button.lupaB:hover{
    background-color: #B5EE72;
    color: #eee
}

button.lupaB:hover{
    background-color: #d5ff87;
    color: #eee
}

button.lupaB:active{
    background-color: #c7d500;
    color: #eee
}

.sinBg{
    background-color: transparent;
}

#textoComoOhana {
    font-family: 'Raleway', sans-serif;
    color: #d8d8d8;
    text-align: center;
    font-size: 1.7em;
}

#textoQueOhana{
    font-family: 'Raleway', sans-serif;
    color: #131f28;
    text-align: center;
    font-size: 1.7em;
}

.titulo{
    background-color: transparent;
}

#que{
    padding: 4.375em 0;
    position: relative;
    z-index: 3;
    display: block;
    background-color: #FFFFFF;
}

#queOhana{
    font-size: 2.65em;
    text-align: center;
    font-weight: bold;
    color: #1D8D6D;
    font-family: 'Lato', sans-serif;
}

/*fondos en slideshow: empieza*/
.toggle-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 692px;
    transition: opacity 1s ease-in-out;
}

.primera-im {
    background-image: image-url('jascha-huisman-74571.jpg');
    z-index: -5;
    opacity: 0;
}

.segunda-im {
    background-image: image-url('haley-phelps-119780.jpg');
    z-index: -4;
    opacity: 0;
}

.tercera-im {
    background-image: image-url('kari-shea-109894.jpg');
    z-index: -3;
    opacity: 0;
}

.cuarta-im {
    background-image: image-url('john-towner-125995.jpg');
    z-index: -2;
    opacity: 0;
}

.quinta-im {
    background-image: image-url('james-stamler-153583.jpg');
    z-index: -1;
    opacity: 0;
}

.primera-im.show {
    opacity: 1;
}

.segunda-im.show {
    opacity: 1;
}

.tercera-im.show {
    opacity: 1;
}

.cuarta-im.show {
    opacity: 1;
}

.quinta-im.show {
    opacity: 1;
}
/*fondos en slide show: acaba*/

@media (max-width: 767px) { 
    .enca{
        padding-top: 6.5em;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .enca{
        padding-top: 7em;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .enca{
        padding-top: 8.5em;
    }
}
@media (min-width: 1200px) {
    .barraBusq{
        padding-left: 7em;
    }

    .encaH4{
        padding-top: 0px;
        padding-bottom: 0.75em;
        padding-left: 5.65em;
        line-height: 27px;
    }

    .encaH1{
        padding-top: 7em;
        padding-left: 2.65em;
        padding-bottom: 0px;
        line-height: 43px;
    }

    .flechita{
        font-size: 60px;
        padding-top: 2em;
    }

    .lupa{
        font-size: 20px;
    }

    .lupaB{
        padding-bottom: 2px;
    }

    .menuOhana{
        height: 4em;
    }

    .navbar-default .ulNav > li > a,
    .navbar-default .ulNav > .active > a{
        margin-left: 2em;
    }

    .ulNav{
        padding-top: 0.3em;
    }
}