// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-color: #333B44;
}
h2.crearH2{
    margin-top: 0px;
    margin-bottom: 19px;
}
.menuOhana{  
    background-color: rgb(19, 31, 40);
}

.padCont{
    padding-top: 122px;
    display: block;
}